@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.about {
    margin-top: 160px;

    &__content {
        width: 85%;
    }

    &__highlight {
        &::after {
            background: url("../../assets/images/about-deco-1.svg");
            width: 236px;
            height: 71%;
            bottom: -10px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__desc {
        margin-top: 18px;
        @include mix.fontStyleContent(md);
    }

    &__btn {
        margin-top: 38px;
        column-gap: 8px;
    }

    &__icon {
        @include mix.flexCenter;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #fff;
    }
}
