@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.category {
    margin-top: 206px;

    &__content {
        @include mix.flexCenter;
        flex-direction: column;
    }

    &__highlight {
        &::after {
            background: url("../../assets/images/about-deco-1.svg");
            width: 196px;
            height: 58%;
            bottom: -13px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
