@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.episode {
    margin-top: 160px;
    padding: 100px 0;
    background: var.$secondary-color;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__heading {
        width: 390px;
    }

    &__highlight {
        z-index: 1;
        &::after {
            background: url("../../assets/images/about-deco-1.svg");
            width: 144px;
            height: 43%;
            bottom: -10px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__list {
        margin-top: 84px;
    }

    &__img {
        width: 100%;
        object-fit: cover;
    }

    &__sub-heading {
        color: #fd6f1f;
    }

    &-item__heading {
        margin-top: 6px;
        width: 270px;
        transition: color 0.25s ease;

        &:hover {
            cursor: pointer;
            color: var.$primary-color;
        }
    }

    &__desc {
        margin-top: 18px;
    }

    &__link,
    &__play-icon {
        transition: all 0.25s ease;
    }

    &__cta {
        display: flex;
        align-items: center;
        margin-top: 12px;

        &:hover {
            .episode__link {
                color: var.$primary-color;
            }

            .episode__play-icon {
                background: var.$primary-color;
            }
        }
    }

    &__play-icon {
        margin-left: 6px;
    }

    &__bottom {
        margin-top: 55px;
    }
}
