@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.subscribe {
    margin-top: 160px;

    &__inner {
        position: relative;
        width: 100%;
        border-radius: 12px;
        padding: 100px;
        background-color: var.$heading-color;
        z-index: 0;
    }

    &__deco {
        position: absolute;
    }

    &__deco:first-child {
        top: 26px;
        left: 45%;
    }

    &__deco:nth-child(2) {
        top: 180px;
        right: 2%;
    }

    &__deco:nth-child(3) {
        top: 370px;
        left: 3%;
    }

    &__heading {
        width: 470px;
        color: #fff;
    }

    &__highlight {
        &::after {
            background: url("../../assets/images/about-deco-1.svg");
            width: 160px;
            height: 46%;
            bottom: -4px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__desc {
        width: 470px;
        color: #aba6b5;
    }

    &__form {
        margin-top: 70px;
    }
}
