*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.6rem;
    background: #fff;
    // overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
}

a,
button {
    color: inherit;
    border: none;
    outline: none;
}

input,
textarea,
button,
select {
    font-size: inherit;
    font-family: inherit;
}

.align-item-center {
    align-items: center;
}
