*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.6rem;
    background: #fff;
}

a {
    text-decoration: none;
}

a,
button {
    color: inherit;
}

input,
textarea,
button,
select {
    font-size: inherit;
    font-family: inherit;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
