@use "./variables" as var;

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fontStyles(
    $size: var.$content-size,
    $weight: var.$heading-weight,
    $height: 1,
    $color: var.$heading-color
) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    color: $color;
}

@mixin fontStyleContent($type: "normal") {
    @if $type == "md" {
        @include fontStyles(
            var.$desc-size-md,
            var.$desc-weight,
            var.$desc-height-md,
            var.$desc-color
        );
    } @else if $type == "sm" {
        @include fontStyles(
            var.$desc-size-sm,
            var.$desc-weight,
            var.$desc-height-sm,
            var.$desc-color
        );
    } @else {
        @include fontStyles(
            var.$desc-size,
            var.$desc-weight,
            var.$desc-height,
            var.$desc-color
        );
    }
}

@mixin fontStyleButton {
    @include fontStyles(
        var.$desc-size,
        var.$button-weight,
        var.$desc-height,
        var.$button-color
    );
}
