$heading-color: #201830;
$desc-color: #665f73;
$primary-color: #936cdd;
$secondary-color: #fff8f3;
$tertiary-color: #ff9051;

// Heading
$heading-weight: 700;

$heading-size-1: 7rem;
$heading-size-2: 4.2rem;
$heading-size-3: 2rem;

$heading-height-1: 1.14;
$heading-height-2: 1.23;
$heading-height-3: 1.5;

$mb-heading-size-1: 3, 6rem;
$mb-heading-size-2: 2.6rem;
$mb-heading-size-3: 1.2rem;

$mb-heading-height-1: 1.27;
$mb-heading-height-2: 1.38;

// Desc
$desc-weight: 400;

$desc-size: 1.8rem;
$desc-size-md: 1.6rem;
$desc-size-sm: 1.4rem;
$desc-size-xs: 1rem;

$desc-height: 1.67;
$desc-height-md: 1.75;
$desc-height-sm: 1.71;

$mb-desc-height-1: 1.71;

// Button
$button-color: #fff;
$button-weight: 600;
